.p-box{
	width:270px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 12px;
	position: relative;
	margin: 20px 30px;
	background-color: rgb(245, 245, 245);
	span{
		color: whitesmoke;
	}
	span:hover{
		cursor: pointer;
	}
	
}
.p-box img{
	height:200px;
}
.p-box p{
	color:#4d4d4d70;
	font-family: 'Montserrat';
	font-size: 0.9rem;
	letter-spacing: 0.5;
	margin: 4px;
}
.price{
	color:#202020;
	font-family: "Montserrat";
	font-size: 1rem;;
}
.buy-btn{
	position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'montserrat';
	left: 50%;
	bottom: -24px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#3cd53f 20%,#66f4a6);
	color:#FFFFFF;
	display: none;
	animation: fade 0.3s;
}
.p-box:hover .buy-btn{
	display: flex;
}
.p-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.p-box:hover .price{
	color:#3cd53f;
	transition: all ease 0.2s;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@media(max-width:1045px){
	
	.p-box{
		width:200px;
		height: 280px;
	}
	.p-box img{
		height: 180px;
	}
}