body{
    margin:0px;
	padding: 0px;
	background-color: #Fff;
}
*{
	box-sizing: border-box;
	font-family: 'Montserrat','Yellowtail';
 
}
*{
	box-sizing: border-box;
	font-family: 'Montserrat','Yellowtail';
 
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}